<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->

<div
    class="resursbank-simplified-fetch-address field"
    data-bind="css: {_error: hasError }">
     <!-- ko if: showComponent() -->
        <div class="radio-list">
            <label>
                <input
                    type="radio"
                    name="customerType"
                    data-bind="
                        event: {
                            change: onCustomerTypeChange
                        },
                        value: customerTypePerson,
                        checked: selectedCustomerType,
                        disable: disableCustomerTypeSelection">
                <span data-bind="i18n: 'Private person'"></span>
            </label>
            <label>
                <input
                    type="radio"
                    name="customerType"
                    data-bind="
                        event: {
                            change: onCustomerTypeChange
                        },
                        value: customerTypeCompany,
                        checked: selectedCustomerType,
                        disable: disableCustomerTypeSelection">
                <span data-bind="i18n: 'Company'"></span>
            </label>
        </div>
    <!-- ko if: isSweden() -->
        <label
            for="resursbank-simplified-fetch-address-id-number-field"
            data-bind="if: !isCompanyCustomer()">
            <span data-bind="i18n: 'SSN (YYYYMMDDXXXX)'"></span>
        </label>
        <label
            for="resursbank-simplified-fetch-address-id-number-field"
            data-bind="if: isCompanyCustomer()">
            <span data-bind="i18n: 'Org. number (XXXXXXXXXX)'"></span>
        </label>
        <div class="control">
            <input
                type="text"
                id="resursbank-simplified-fetch-address-id-number-field"
                class="input-text"
                data-bind="
                    value: govId,
                    disable: disableIdInput()">
            <!-- ko if: failedToFetchAddressError() !== '' -->
                <div class="field-error">
                    <span data-bind="text: failedToFetchAddressError"></span>
                </div>
            <!-- /ko -->
        </div>
    <!-- /ko -->
    <!-- ko if: isNorway() -->
        <label for="resursbank-simplified-fetch-address-phone-number-field">
            <span data-bind="i18n: 'Phone Number'"></span>
        </label>
        <div class="control">
            <input
                type="text"
                id="resursbank-simplified-fetch-address-phone-number-field"
                class="input-text"
                data-bind="
                        value: phoneNumber,
                        disable: disablePhoneInput()">
        <!-- ko if: failedToFetchAddressError() !== '' -->
            <div class="field-error">
                <span data-bind="text: failedToFetchAddressError"></span>
            </div>
        <!-- /ko -->
        </div>
    <!-- /ko -->
        <!-- ko if: !isAddressApplied() && (isNorway() || isSweden()) -->
            <button
                type="button"
                class="action primary"
                data-bind="
                    click: fetchAddress,
                    disable: !isFetchingEnabled()">
                <span data-bind="i18n: 'Fetch address'"></span>
            </button>
        <!-- /ko -->
        <!-- ko if: isAddressApplied() -->
            <button
                type="button"
                class="action primary"
                data-bind="
                    click: removeAddress,
                    disable: !isAddressApplied()">
                <span data-bind="i18n: 'Not you?'"></span>
            </button>
        <!-- /ko -->
    <!-- /ko -->
</div>
