/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

/*
    Targets the payment method.
*/
.payment-method.hide {
    display: none;
}

/*
    Targets the logo for payment methods.
*/
.payment-method > .payment-method-title > img {
    width: 9%;
    height: 9%;
    float: right;
}

.payment-method > .payment-method-title > img.resursbank-simplified-credit-card-logo {
    width: 4%;
    height: 4%;
}

/*
    Targets the input container for SSN, contact ID etc.
*/
.payment-method > .payment-method-content > .resursbank-simplified-payment-method-input {
    margin-bottom: 20px;
}

/*
    Targets the label for input containers.
*/
.payment-method > .payment-method-content > .resursbank-simplified-payment-method-input > label {
    margin-bottom: 10px;
    display: block;
}
